<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="intcomex_unittest_status_failed">
        <observer name="intcomex_unittest_status_failed" instance="Intcomex\UnitTest\Observer\RegisterFailed" />
    </event>
</config>

