<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add 
			id="Intcomex_UnitTest::UnitTest" 
			title="Intcomex" 
			module="Intcomex_UnitTest" 
			sortOrder="10" 
			resource="Formax_Backend::Formax" 
		/>
		<add 
			id="Intcomex_UnitTest::UnitTest_Model" 
			title="Unit Test" 
			module="Intcomex_UnitTest" 
			sortOrder="01" 
			resource="Magento_Backend::content" 
			parent="Intcomex_UnitTest::UnitTest" 
			action="intcomex_unittest/intcomexunittest/index"
		/>
	</menu>
</config>
